DB_DATABASE_NAME=
DB_ROOT_PASSWORD=
DB_USERNAME=
DB_PASSWORD=
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_VALIDITY_IN_SECONDS=
JWT_REFRESH_TOKEN_VALIDITY_IN_SECONDS=
FLASK_BASE_URL=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
FRONT_URL=
DB_LOCAL_URL=
DB_LOCAL_USERNAME=
DB_LOCAL_PASSWORD=